# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# # File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# # Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
student_df = pd.DataFrame(student_data)
student_df.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61

In [4]:
school_df = pd.DataFrame(school_data)
school_df.head(2)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
schools_total = school_data["school_name"].value_counts().sum()
schools_total

15

In [9]:
student_total = student_data["student_name"].value_counts().sum()
student_total

39170

In [10]:
budget_total = school_data["budget"].sum()
budget_total

24649428

In [11]:
math_total = round(student_data["math_score"].mean(),2)
math_total

78.99

In [12]:
reading_total = round(student_data["reading_score"].mean(),2)
reading_total

81.88

In [13]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
passing_rate = round(((math_total+reading_total)/2),2)
passing_rate

80.44

In [14]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_percentage = student_data[student_data.math_score >= 70]
#math_percentage.head(5)
pass_math_count = math_percentage["math_score"].value_counts().sum()
#pass_math_count
percent_math_pass = round(pass_math_count/student_total*100,2)

percent_math_pass

74.98

In [15]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_percentage = student_data[student_data.reading_score >= 70]
#math_percentage.head(5)
pass_reading_count = reading_percentage["math_score"].value_counts().sum()
#pass_reading_count
percent_reading_pass = round(pass_reading_count/student_total*100,2)

percent_reading_pass

85.81

In [16]:
overall_pass = round((percent_math_pass + percent_reading_pass)/2,2)
overall_pass

80.4

In [17]:
# Create a dataframe to hold the above results
#district_df = [schools_total, student_total, budget_total, math_total, reading_total, percent_math_pass, percent_reading_pass]
district_df = pd.DataFrame({
    "Total Schools": [schools_total],
    "Total Students": [student_total],
    "Total Budget": [budget_total],
    "Average Math Score": [math_total],
    "Reading Totals": [reading_total],
    "% Passing Math": [percent_math_pass],
    "% Passing Reading": [percent_reading_pass],
    "% Overall Passing Rate": [overall_pass]
})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Reading Totals,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.4

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [18]:
# List all the columns in the table
school_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [39]:
district_df.columns

Index(['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score',
       'Reading Totals', '% Passing Math', '% Passing Reading',
       '% Overall Passing Rate'],
      dtype='object')

In [41]:
# Combine the data into a single dataset 
school_data_merge = pd.merge(school_, school_name, how="left", on=["school_name", "school_name"])

school_data_merge.head()

NameError: name 'school_name' is not defined

In [37]:
# School Summary
grouped_school_df = school_data.groupby(['school_name'])
grouped_school_df.max()

                       School ID      type  size   budget
school_name
Bailey High School             7  District  4976  3124928
Cabrera High School            6   Charter  1858  1081356
Figueroa High School           1  District  2949  1884411
Ford High School              13  District  2739  1763916
Griffin High School            4   Charter  1468   917500
Hernandez High School          3  District  4635  3022020
Holden High School             8   Charter   427   248087
Huang High School              0  District  2917  1910635
Johnson High School           12  District  4761  3094650
Pena High School               9   Charter   962   585858
Rodriguez High School         11  District  3999  2547363
Shelton High School            2   Charter  1761  1056600
Thomas High School            14   Charter  1635  1043130
Wilson High School             5   Charter  2283  1319574
Wright High School            10   Charter  1800  1049400

In [32]:
# Per Student Budget
print(school_df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [ ]:
# iloc to select columns

In [19]:
# Table that highlights the top 5 performing schools based on Overall Passing Rate.
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

# Code: to be updated
# district_df = pd.DataFrame({
#     "School Name": [xxx],
#     "School Type": [xxx],
#     "Total Students": [student_total],
#     "Total School Budget": [budget_total],
#     "Per Student Budget": [xxx]
#     "Average Math Score": [math_total],
#     "Average Reading Score": [reading_total],
#     "% Passing Math": [percent_math_pass],
#     "% Passing Reading": [percent_reading_pass],
#     "% Overall Passing Rate": [overall_pass]
# })
# district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Reading Totals,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.4

In [ ]:
## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.